* {
    margin: 0px; 
    padding: 0px;
}
ul {
    list-style: none;
} /* 리스트 앞에 . 같은거 제거 */
a {
    text-decoration: none;
} /* 링크에 밑줄 같은거 제거 */
header{
    display: flex;
    width: 1400px; /*메인 이미지의 너비 사이즈와 같음*/
    height: 100px;
 
    /* header 안에 요소들을 모두 absolute 포지션으로 배치할 것이라서 */
    /* absolute 요소가 header의 좌상단을 기준으로 하려면 */
    /* header의 position이 relative 여야만 함 */
    /*position: relative;*/
}

/* 제목영역안에 있는 메인 로고 이미지 위치 지정 */
#logo {
    position: absolute;
    top: 25px;
    left: 20px;
}

/* 제목영역안에 오른쪽 상단에 top_menu 배치 */
#top_menu{
    position: absolute;
    top: 20px;
    right: 100px;
    color: white;
}
 
/* top_menu a의 글시 하얀색으로 */
#top_menu a{
    color: white;
}
 
/* 헤더 영역안에 네비게이션 메뉴 배치 */
nav {
    position: absolute;
    bottom: 30px;
    left: 500px;
    font-size: 16px;
}
 
nav li {
    display: inline;
    margin-left: 30px;
}
 
nav li a {
    color: white;
    font-weight: bolder;
}

/* 콘텐츠 영역의 아래에 있는 배너 이미지 inline으로 */
#content li {
    display: inline-block; /* inline-block으로 변경하여 더 나은 처리 */
    margin-left: 50px;
}
/* 전체 페이지가 가운데로 오도록 */
#page {
    width: 820px;
    margin: 0px auto;
}




